body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  h1 {
    color: #333;
  }
  
  .image-container {
    margin: 20px;
  }
  
  .image {
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease;
    border-radius:5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  