*{
    margin: 0%;
    padding: 0%;

}

body{
    font-family:'Courier New', Courier, monospace;
    background-color: #2a2323;
    color: #d4d1d1;
    overflow-x: hidden;
   
}

/* Navigation styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 90px;
    background-color: #393737;
}

nav .logo{
    margin-left: 0px;
    letter-spacing: 3px;
}

nav .logo h1{
    margin-left: 0px;
    letter-spacing: 1px;
    font-size: 60px;
    font-weight: bold;
}

ul{
    display: flex;
    gap:20px;
    margin-right: 0px;
}

ul li{
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: #d4d1d1;
    margin-inline: 27px;
    font-weight: bold;
    font-size: 25px;
}

ul li a:hover{
    color: #528383;
    cursor: pointer;
}

/* Main Seaction */
.main{
    
     margin-top: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.mainText{
    margin-left: 40px;
    text-align: justify;
    line-height: 1.6;
    margin-inline: 80px;
}

.main img{

    width: 300px;
    height: 400px;
    margin-right: 230px;
    margin-bottom: 40px;
    margin-inline:190px;
    border-radius: 2px;
    transition: transform 0.3s ease;
}

.main img:hover{
     transform: scale(1.3);

}

.main h2{
    font-size: 40px;
    margin-left: 0px;
    
}

.main h3{
    margin-left: 0px;
    font-size: 27px;
    
}

.main p{
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
    margin-left: 0px;
    text-align: justify;
}

.main button{
    width: 140px;
    height: 40px;
    background-color: #528383;
    cursor: pointer;
    border:none;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #d4d1d1;
    border-radius: 3rem;
    margin-left: 0px;
}

/*  About Section  */
#about{
    text-align: center;
    padding: 50px 20px;
    background-color: #2a2323;
    border-top: 3px solid #393737;
}

.head{
    text-align:center;
    padding: 50px 0;
    font-size: 60px;
    font-weight: bold;
}

.head h1{
    font-size: 20px;
    font-weight: bold;
    margin-top:0px;
}

.about{
     display: flex;
     justify-content: center;
     align-items: center;
}

.aboutText{
    flex: 1;
    margin-right: 20px;
    margin-left: 0px;
    margin-top:0px;
}

.aboutText h1{
    font-size: 30px;
    margin-left: 200px;
    text-align: justify;
}

.aboutText p{
    font-size: 18px;
    line-height: 1.6;
    margin-top:10px;
    margin-left: 200px;
    text-align: justify;
}

.about img{
    width: 250px;
    height: 250px;
    margin-right: 60px;
    margin-inline: 180px;
    border-radius: 50%;
    margin-top: 10px;
    border: 6px solid #528383;
    
}

/* Skills Section */

#skills{
    text-align: center;
    padding: 50px 20px;
    background-color: #2a2323;
    border-top: 3px solid #393737;
    margin-bottom: 50px;
}

.head{
    text-align:center;
    padding: 50px 0;
    font-size: 60px;
    font-weight: bold;
}

.head h1{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.skills ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    color: #d4d1d1;
    text-align: center;
}

.skills ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor:pointer;
}

.skills ul li img{
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease-in-out,filter 0.3s ease-in-out;
}

.skills ul li:hover img{
    transform: scale(1.2);
    filter: brightness(1.3);
}

.skills ul li span {
    font-size: 1.2rem;
    font-weight: 600;
    color:#d4d1d1;
    /* margin-bottom: 130px; */
}



/* Projects Section */

#projects{
    text-align: center;
    padding: 50px;
    background-color: #2a2323;
    border-top: 3px solid #393737;
}

.head h1{
    font-size: 60px;
    color: #d4d1d1;
    font-weight: bold;
    margin-top: 40px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectCard{
    width: 400px;
    padding: 22px;
    background-color: #6e6767;
    color:#d4d1d1;
    margin-top: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-bottom:70px;
}

.projectCard h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.projectCard p{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 20px;
}

.projectCard a{
    color: #478585;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

/* Contact Section */

#contact{
    text-align: center;
    background-color: #2a2323;
    border-top: 3px solid #393737;
}

.head{
    text-align:center;
    padding: 50px 0;
    font-size: 60px;
    font-weight: bold;
}

.head h1{
    font-size: 60px;
    color: #d4d1d1;
    font-weight: bold;
    margin-top: 70px;
}

.contact{
    width: 450px;
    margin: auto;
    padding: 22px;
    background-color: #6b6464;
    text-align: center;
    border-radius: 10px;
}

.contact input, .contact textarea{
    width: 90%;
    padding: 11px;
    margin-top: 20px;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}

.contact button{
    width: 100px;
    height: 33px;
    background-color: #f47676;
    color:#d4d1d1;
    border: none;
    border-radius: 3rem;
    margin-top: 22px;
    font-weight: bold;
}

/* Footer Section  */

.footer{
    margin-top: 22px;
    background-color: #393737;
    padding: 33px;
}

.text{
    text-align: center;
    margin-bottom: 3px;
}

.text p{
    margin-top: 11px;
    font-size: 22px;
}
